@font-face {
    font-family: hel;
    src: url('./assets/HelveticaNeueMedium.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: hel;
}

html,
body {
    background-color: #111;
    color: white;
}

